<div class="container">
    <div class="row">
    <% if @user.picture.attached? %>
      <div class="col-lg-3">
        <%= image_tag @user.picture.variant(resize_to_limit: [200, 200])%>
      </div>
    <%end%>
      <div class="col-lg-9">
        <h1><%= @user.username %></h1>
        <p><%= @user.firstname %> <%= @user.lastname %></p>
        <p>Bio</p>
        <ul class="list-inline">
          <li class="list-inline-item">Tweets</li>
          <li class="list-inline-item">Following</li>
          <li class="list-inline-item">Followers</li>
        </ul>
    <a href=<%= edit_profil_path(@user) %> class="btn btn-success" id="profil-button"><i class="bi bi-person-lines-fill"></i></a>
    <% if @user.event.any? %>
    <a href=<%= new_event_path %> class="btn btn-primary" id="new-event-button"><i class="bi bi-calendar4-event"></i></a>
    <%end%>
      </div>
    </div>

<h2 class="mt-4 mb-3">My Events</h2>
  <% if @user.event.any? %>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <% @user.event.each do |event| %>
      <div class="col">
        <div class="card shadow-sm mt-2">
          <div class="card-body event-card" data-id="<%= event.id %>">
            <h5 class="card-title"><%= event.title %></h5>
            <p class="card-text"><i class="bi bi-calendar-event"></i> <%= event.date.strftime("%d/%m/%Y") %></p>
            <p class="card-text"><i class="bi bi-clock"></i> <%= event.heure %></p>
            <p class="card-text"><i class="bi bi-globe2"></i> <%= event.lieu %></p>
            <a href="<%= event_path(event.id) %>" class="btn btn-primary">En savoir plus</a>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>

     <div>
        <a href="<%= new_event_path %>" class="btn btn-primary">Créer un évènement</a>
  </div>
  <% end %>

</div>
</div>
</div>
