<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>Event discovery</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="h-100">

    <!-- Header-->
    <%= render 'header' %>
    <!-- Header end-->

    <!-- Wrapper-->
    <div class="wrapper h-100">
        <!-- Hero-->
        <%= render 'hero' %>
        <!-- Hero end-->
        <%= render 'populare' %>

        <%= render 'footer' %>
    </div>

  </body>
