<!DOCTYPE html>
<html>
  <head>
    <title>EventManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <div class="container">
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
     <img class="yGh0CfFS4AMLWjEE9W7v" src="https://media.istockphoto.com/id/1369522579/photo/calendar-with-a-marked-date-and-hand-with-pointing-finger.jpg?s=612x612&amp;w=0&amp;k=20&amp;c=orJBXZry5lMtTSvQIxaS7_wghpuJdFaaVW2XX9R48fw=" alt="Calendar with a marked date and hand with pointing finger 3D illustration icon events stock pictures, royalty-free photos &amp; images" width="80" height="50">

<% if user_signed_in? %>
 <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
 <li><a href="<%= events_path %>" class="nav-link px-2 link-primary"><i class="bi bi-calendar2-heart-fill"></i> Events</a></li>
 </ul>

 <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" method="GET" action="/search">
      <div class="input-group">
          <input type="search" class="form-control" placeholder="Search for events" aria-label="Search" name="query">
          <button type="submit" class="btn btn-primary">
      <i class="bi bi-search"></i> <!-- Icône de recherche Bootstrap -->
    </button>
    </div>
        </form>

<div class="dropdown text-end">
         <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_user.username%>
            </a>
          <ul class="dropdown-menu text-small" style="">
            <li><a class="dropdown-item" href="<%= profil_path(current_user) %>" >My profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= destroy_session_path %>" data-method="delete">Log out</a>
</li>
          </ul>
        </div>

<% else %>
 <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <a class="btn btn-primary me-2" href=<%= new_user_path %>>Sign up</a>
        <a class="btn btn-outline-primary" href=<%= new_session_path %> >Login </a>
      </div>
<% end %>
    </header>
</div>


<div class="container mt-2">
<% if flash[:success] %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% end %>

<% if flash[:danger] %>
  <div class="alert alert-danger">
    <%= flash[:danger] %>
  </div>
<% end %>

    <%= yield %>

  </div>



  </body>
</html>
