<!DOCTYPE html>
<html>
  <head>
    <title>EventManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between mb-4 border-bottom px-2">
<a href="/" data-turbo-action="replace">
<%= image_tag 'event logo.png', size: "80x80" %>
</a>

<% if user_signed_in? %>
 <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
 <li><a href="<%= events_path %>" class="nav-link px-2 link-primary"><i class="bi bi-calendar2-heart-fill"></i> Events</a></li>
 </ul>

 <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" method="GET" action="/search">
      <div class="input-group">
          <input type="search" class="form-control" placeholder="Search for events" aria-label="Search" name="query">
          <button type="submit" class="btn btn-primary">
      <i class="bi bi-search"></i> <!-- Icône de recherche Bootstrap -->
    </button>
    </div>
        </form>

<div class="dropdown text-end">
         <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_user.username%>
            </a>
          <ul class="dropdown-menu text-small" style="">
            <li><a class="dropdown-item" href="<%= profil_path(current_user) %>" >My profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="<%= destroy_session_path %>" data-method="delete">Log out</a>
</li>
          </ul>
        </div>
<% end %>
    </header>


<div class="container mt-2">
<% if flash[:success] %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% end %>

<% if flash[:danger] %>
  <div class="alert alert-danger">
    <%= flash[:danger] %>
  </div>
<% end %>

    <%= yield %>

  </div>



  </body>
</html>
